<div class="container container-confirmation sign-in-container">
  <div class="form-signin">
    <h1>Sign up</h1>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
    <div class="form-label-group">
      <%= f.input :first_name,
                      required: true,
                      label: false,
                      placeholder: 'First name',
                      autofocus: true,
                      input_html: { autocomplete: "first-name" }%>
          <%= f.input :last_name,
                      required: true,
                      label: false,
                      placeholder: 'Last name',
                      autofocus: true,
                      input_html: { autocomplete: "last-name" }%>
          <%= f.input :email,
                      required: true,
                      label: false,
                      placeholder: 'Email address',
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.input :password,
                      required: true,
                      label: false,
                      placeholder: 'Password',
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      label: false,
                      placeholder: 'Password confirmation',
                      input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="checkbox mb-3">
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>
    <div class="btn btn-secondary btn-card btn-booking-teacher sign"><%= f.button :submit, "Sign up" %></div>
    <% end %>
  </div>
</div>
