<div class="bookings-container">
  <div class="list-of-bookings">

      <div class = user-welcome>
     <h3>WELCOME BACK! <b><%= @user.first_name%></h3></b>
      <br><h4> <p>Your account name:<%= @user.email%></h4>
      </div>
      <div class="cards-bookings style="width: 18rem;">
       <div class="card-body">

        <% @bookings.each do |booking| %>


        <h1 class="booking-info"><p>Your teacher for the booking is </p><%= User.find(booking.teacher_id).first_name %></h1>


        <br><%= link_to "add bookings", users_path %>
        <br><%= link_to "delete the booking", booking_path(booking), method: :delete %>
        <% end %>
    </div>
  </div>
  </div>


  <div class="profile-section">

    <div id="profile-image">
    <%= cl_image_tag current_user.photo%>
    </div>

    <div id="personal-info">
      <div class = upload-picture >
        <%= link_to edit_user_registration_path do %>
        <button type="button" class="btn btn-secondary"
         <span class="btn-label"><i class="fa fa-pencil"></i></span>Upload You Picture Here</button>
        <% end %>




      </div>

    </div>
  </div>
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</div>


