<div class="main-container-index-teachers">

  <div class="cards-all-teachers">
  <% @teachers.each do |user| %>

    <div class="card-teacher">
      <img src="https://images.pexels.com/photos/159844/cellular-education-classroom-159844.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      <div class="card-teacher-infos">
        <div>
          <h2><%= link_to user.skill, user_path(user) %></h2>
          <p><%= user.first_name %></p>
        </div>
        <h2 class="card-teacher-pricing">£ <%= (20..50).to_a.sample %>/hr</h2>
      </div>
    </div>
  <% end %>
  </div>

  <div
  id="map"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-markers="<%= @markers.to_json %>"
  ></div>


</div>

<%= form_tag users_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a teacher"
  %>
<% end %>
