  <h1><%= @user.first_name %></h1>
  <p><%= @user.last_name %></p>
  <p><%= @user.email %></p>
  <% if @user.teacher %>
    <p>Teacher</p>
  <% else %>
    <p>Student</p>
  <% end %>

  <%= link_to "All teachers", users_path, class: "btn btn-primary" %>
  <%= link_to "Booking teacher", new_user_booking_path(@user), class: "btn btn-danger" %>
