  <h1><%= @user.first_name %></h1>
  <p><%= @user.last_name %></p>
  <p><%= @user.email %></p>
  <p><%= @user.role %></p>

  <%= link_to "All teachers", users_path, class: "btn btn-primary" %>
  <%= link_to "Booking teacher", user_bookings_path(@user), class: "btn btn-danger" %>
