<div class="container container-show">
  <div class="card-details">
    <div class="teacher-details">
      <div class="teacher-photo-name">
        <div class="profile-photo">
          <img class="teacher-profile-photo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Antu_system-switch-user.svg/600px-Antu_system-switch-user.svg.png" alt="teacher profile photo">
        </div>
        <div class="name-users-show">
          <h1><%= @user.first_name %></h1>
        </div>
      </div>
      <div class="skills-story">
        <div class="skills">
          <h3>What I teach:</h3>
          <p><%= @user.skill %></p>
        </div>
        <div class="story">
          <h3>About me:</h3>
          <p><%= @user.biography %></p>
        </div>
      </div>
    </div>
       <div class="map-user"
      id="map"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      data-markers="<%= @markers.to_json %>"
      ></div>
  </div>
  <div class="buttons-users-show">
    <%= link_to "Back to teacher search", users_path, class: "btn btn-secondary btn-all-teachers" %>
    <% if params[:id].to_i != current_user.id %>
      <%= link_to "Request this teacher", new_user_booking_path(@user), class: "btn btn-secondary btn-card btn-booking-teacher" %>
    <% end %>
  </div>

</div>

